{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Ankan's World!</title>
    </head>

    <body>
        <header class="page-header">
            <div class="container">
                <h1><centre><a href="/">Ankan's Blog</a><centre></h1>
            </div>
        </header>

        

        <main class="container">
            <div class="row">
                <div class="col">
                    {% for post in posts %}
                        <article class="post">
                            <time class="date">
                                {{ post.published_date }}
                            </time>
                            <h2><a href="">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </main>

        <article>
            <time>published: 03.09.2021, 12:14</time>
            <h2><a href="">Inglorious Bastards</a></h2>
            <p>A few Jewish soldiers are on an undercover mission to bring down the Nazi government and put an end to the war. Meanwhile, a woman wants to avenge the death of her family from a German officer.
            </p>
        </article>

        <article>
            <time>published: 03.09.2021, 12:14</time>
            <h2><centre><a href="">The Pianist</a></centre></h2>
            <p>During the WWII, acclaimed Polish musician Wladyslaw faces various struggles as he loses contact with his family. As the situation worsens, he hides in the ruins of Warsaw in order to survive.
            </p>
        </article>

        <article>
            <time>published: 03.09.2021, 12:14</time>
            <h2><centre><a href="">Schindler's List</a></centre></h2>
            <p>Oskar Schindler, a German industrialist and member of the Nazi party, tries to save his Jewish employees after witnessing the persecution of Jews in Poland.
            </p>
        </article>


    </body>
</html>